﻿
@{
    ViewData["Title"] = "Companies List";
}
<div class="text-center">
@*<partial name="_Notification" /> (moved this line to _layout.html)*@ 

</div>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border mt-4 p-3 text-center">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h2><b>Company List</b></h2>
                </div>
                <div class="col-md-4 text-end">
                    <a asp-area="Admin" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp;Add new Company</a>
                </div>
            </div>
              <br /><br /> 
            <div>
                <table id="tblCompanies" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>PhoneNumber</th>
                            <th>State</th>
                            <th>City</th>
                            <th>PostalCode</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                 </table>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/company.js" ></script>
}