﻿@using Microsoft.Extensions.Options
@model ShoppingCartVM
@inject IOptions<StripeSettings> Stripe;
<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class=" row container">
					<div class="col-6">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						Order Summary
					</div>
					<div class="col-6 text-end">
						<a class="btn btn-outline-info btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Name</label>
								</div>
								<div class="col-9">
									<input  asp-for="OrderHeader.Name" type="text" class="form-control" />
									<span asp-validation-for="OrderHeader.Name" class="text-danger" ></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone</label>
								</div>
								<div class="col-9">
									<input  asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
									<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger" ></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street Address</label>
								</div>
								<div class="col-9">
									<input  asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
									<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger" ></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input  asp-for="OrderHeader.City" type="text" class="form-control" />
									<span asp-validation-for="OrderHeader.City" class="text-danger" ></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>State</label>
								</div>
								<div class="col-9">
									<input  asp-for="OrderHeader.State" type="text" class="form-control" />
									<span asp-validation-for="OrderHeader.State" class="text-danger" ></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code</label>
								</div>
								<div class="col-9">
									<input  asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
									<span asp-validation-for="OrderHeader.PostalCode" class="text-danger" ></span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Order Summary:</span>
							</h4>
							<ul class="list-group mb-3">
								@foreach( var item in Model.ListCart)
								{
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@item.Product.Title</h6>
											<small class="text-muted">Quantity: @item.Count</small>
										</div>
										<span class="text-muted">@((item.Price * item.Count).ToString("c")) </span>
									</li>
								}

									<li class="list-group-item d-flex justify-content-between bg-light">
										<small class="text-info">Total (USD)</small>
										<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
									</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">Estimate Arrival Date: </p>
						@DateTime.Now.AddDays(7).ToShortDateString() -  @DateTime.Now.AddDays(14).ToShortDateString()
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
