﻿@model ProductVM
@{
    ViewData["Title"] = "Add Product";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border p-3 mt-4 ">
            <div class="text-center">
                 <h3>@(Model.Product.Id !=0? "Edit" :"Create") Product</h3>
            </div>
           
            <form asp-area="Admin" asp-action="Upsert" method="post" enctype="multipart/form-data">
                	<input asp-for="Product.Id" hidden />
	                <input asp-for="Product.ImageUrl" hidden />    
            <div class="row">
               @* <div asp-validation-summary="All"   class="text-danger">
                </div>*@
                <div class="form-group  mb-3">
                    <label asp-for="Product.Title" class="control-label"></label>
                    <input asp-for="Product.Title" type="text" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger" />
                </div>
                <div class="form-group  mb-3" >
                    <label asp-for="Product.Description" class="control-label"></label>
                    <textarea asp-for="Product.Description" rows="3" class="form-control" ></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger" />
                </div>
                <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.ISBN" class="control-label"></label>
                    <input asp-for="Product.ISBN" type="text" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger" />
                </div>
                <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.Author" class="control-label"></label>
                    <input asp-for="Product.Author" type="text" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger" />
                </div>
                <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.ListPrice" class="control-label"></label>
                    <input asp-for="Product.ListPrice" type="text" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger" />
                </div>
                <div class="form-group col-md-6 mb-3" >
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger" />
                </div>
                <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.Price50" class="control-label"></label>
                    <input asp-for="Product.Price50" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger" />
                </div>
                 <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.Price100" class="control-label"></label>
                    <input asp-for="Product.Price100" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger" />
                </div>
                 <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.ImageUrl" class="control-label"></label>
                    <input id="uploadBox" type="file" name="file" class="form-control" />
                 
                </div>
                 <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.CategoryId" class="control-label"></label>
                    <select asp-for="Product.CategoryId" type="text" class="form-select" asp-items="@Model.CategoryList" >
                        <option selected disabled>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger" />
                </div>
                <div class="form-group col-md-6  mb-3" >
                    <label asp-for="Product.CoverTypeId" class="control-label"></label>
                    <select asp-for="Product.CoverTypeId" type="text" class="form-select" asp-items="@Model.CoverTypeList">
                        <option selected disabled>--Select CoverType--</option>
                    </select>
                    <span asp-validation-for="Product.CoverTypeId" class="text-danger" />
                </div>
                @* <div class="form-group  mb-3" >
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" type="text" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>*@
                <div class="form-group col-md-12 text-center  mb-3">
                   @if(Model.Product.Id != 0)
                   {
                        <input type="submit" class="btn btn-primary float-right" value="Update" style="width:150px" />
                   }else
                   {
                       
                        <input type="submit" onclick="return ValidateInput()" class="btn btn-primary float-right" value="Create" style="width:150px" />
                   }
                   
                    <a class="btn btn-secondary" asp-area="Admin" asp-action="Index" style="width:150px">Show All</a>
                </div>
            </div>
            </form>
        </div>
    </div>
  <div class="col-2 pt-4">
			<img src="@Model.Product.ImageUrl"
			width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
		</div>
</div>
@section Scripts
{
    <script>
        function ValidateInput()
        {
           if(document.getElementById('uploadBox').value == "")
            {
                Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Please upload an image',
                          
                        })
                return false; 
            }
            return true;
        }
    </script>
}