﻿@model CoverType
@{
    ViewData["Title"] = "Delete CoverType";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border p-3 mt-4 ">
            <div class="text-center">
                 <h3>Delete CoverType</h3>
            </div>
            <form asp-area="Admin" asp-action="Delete" method="post">
                <input asp-for="Id" hidden />
                <div class="form-group  mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" disabled type="text" class="form-control" />
                 </div>
               
                <div class="form-group  mb-3">
                    <input type="submit" class="btn btn-primary float-right" value="Delete" />
                    <a class="btn btn-secondary" asp-area="Admin" asp-action="Index">Show All</a>
                </div>
            </form>
        </div>
    </div>
</div>
